# Ignore Python cache and environment
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
cvenv/
venv/

# Jupyter checkpoints
.ipynb_checkpoints/

# Large generated folders
*.pt



# OS files
.DS_Store
Thumbs.db
